body {
	background-color: #E5DEDE;
}

#heading{
	font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    display:inline-block;
    margin-left:30px;
    width:960px;

}

#intro{
	display:inline-block;
	font-family: Helvetica;
	font-size:18px;
	width:960px;
	margin-left:30px;

}

/*#navbar{*/
	/*width:960px;
    border-width:4 px;
    border-color: black;
    display:inline-block;
}*/

.nav{
width:188px;
height:22px;
background-color: black;
color:white;
display:inline-block;
position:center;
border:10px;
}


.fixed{
	position:fixed; 
	top: 0; 
	height: 40px; 
	border:0.5px solid #021a40;
	z-index: 1;
	webkit-transition: all 0.3s;
    moz-transition: all 0.3s;
    transition: all 0.3s;
}

#wrapper{
	width:960px;
	margin:0 auto;
	position:relative;
	opacity:1;
}

.bimg{
	margin-top: 0px;
	width:960px;
	background-color: #FFF;
}

.overlay{
    transition: opacity 300ms linear;
    opacity:0;
    position:absolute;
}

.visible{
	opacity:1;
}

t1{
	font-family: Helvetica;
	font-size:18px;
	font-weight:bold;
	color:#696868;
}

t2{
	font-family:Helvetica;
	font-size:18px;
	font-style:italic;
	color:#696868;
}

#cover1-container{
/*width:960px;*/
margin:0 auto;
position:relative;
}

#cover1-overlay1{
	top:29px;
	left:27px;
}

#cover1-textbox1{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:50px;
}


#cover1-overlay2{
	top:33px;
	left:703px;
}	

#cover1-textbox2{
	right:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:50px;
}


#cover1-overlay3{
	top:209px;
}

#cover1-textbox3{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:230px;
	position:absolute;
}

#cover1-overlay4{
	top:875px;
}	

#cover1-textbox4{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:886px;
	position:absolute;
}

#cover2-container{
width:960px;
margin:0 auto;
position:relative;
}

#cover2-overlay1{
	top:18px;
	left:0px;
}

#cover2-textbox1{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:0px;
	position:absolute;
}


#cover2-overlay2{
	top:18px;
	left:703px;
}	

#cover2-textbox2{
	right:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:60px;
	position:absolute;
}


#cover2-overlay3{
	top:899px;
}

#cover2-textbox3{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:920px;
	position:absolute;
}


#cover3-container{
width:960px;
margin:0 auto;
position:relative;
}

#cover3-overlay1{
	top:18px;
}

#cover3-textbox1{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:20px;
	position:absolute;
}

#cover3-overlay2{
	top:18px;
	left:703px;
}	

#cover3-textbox2{
	right:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:40px;
	position:absolute;
}

#cover3-overlay3{
	top:215px;
}

#cover3-textbox3{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:275px;
	position:absolute;
}

#cover3-overlay4{
	top:1406px;
}	

#cover3-textbox4{
	left:-420px;
	border-bottom: solid black 2px;
	width:300px;
	top:1430px;
	position:absolute;
}

#cover4-container{
width:960px;
margin:0 auto;
position:relative;
}

#cover4-overlay1{
	top:34px;
}

#cover4-textbox1{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:30px;
	position:absolute;
}


#cover4-overlay2{
	top:37px;
	left:698px;
}	

#cover4-textbox2{
	right:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:50px;
	position:absolute;
}


#cover4-overlay3{
	top:216px;
}

#cover4-textbox3{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:280px;
	position:absolute;
}

#cover4-overlay4{
	top:671px;
}	

#cover4-textbox4{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:690px;
	position:absolute;
}

#cover4-overlay5{
	top:907px;
}	

#cover4-textbox5{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:900px;
	position:absolute;
}

#cover5-container{
width:960px;
margin:0 auto;
position:relative;
}

#cover5-overlay1{
	top:36px;
	left:13px;
}

#cover5-textbox1{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:30px;
	position:absolute;
}

#cover5-overlay2{
	top:43px;
	left:704px;
}	

#cover5-textbox2{
	right:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:10px;
	position:absolute;
}


#cover5-overlay3{
	top:220px;
	left:11px;
}
	
#cover5-textbox3{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:240px;
	position:absolute;
}


#cover5-overlay4{
	top:995px;
}

#cover5-textbox4{
	left:-420px;
	border-bottom: solid black 2px;
	width:350px;
	top:930px;
	position:absolute;
}
